<!DOCTYPE html>
<html>

<head>
    <title>Adopt Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>

<body>
    <!--Created most of "adopt" form already at: https://codepen.io/AoifeMcNeill/pen/ExjWvRV-->
    <div class="container-fluid position-relative" id="adoptForm">
        <form>
            <div class="form-group w-25">
                <label for="selectCategory">Select Category:</label>
                <select class="form-control custom-select" id="selectCategory">
                    <option>--Select--</option>
                    <option>Cats</option>
                    <option>Dogs</option>
                </select>
            </div>
            <div class="form-group w-25">
                <label for="selectBreedCat">Select Breed for Cat:</label>
                <select class="form-control custom-select" id="selectBreedCat">
                    <option>--Select--</option>
                    <option>Birman</option>
                    <option>Bengal</option>
                    <option>British Short Hair</option>
                    <option>Maine Coon</option>
                    <option>Norwegian Forest Cat</option>
                </select>
            </div>
            <div class = "form-group w-25">
                <label for="selectBreedDog">Select Breed for Dog:</label>
                <select class="form-control custom-select" id="selectBreedDog">
                    <option>--Select--</option>
                    <option>Akita</option>
                    <option>Alaskan Malamute</option>
                    <option>Anatolian Shepherd Dog</option>
                    <option>Australian Shepherd</option>
                    <option>Beagle</option>
                    <option>Belgian Tervuren</option>
                    <option>Bernese Mountain Dog</option>
                    <option>Border Collie</option>
                    <option>Canaan</option>
                    <option>Chesapeake Bay Retriever</option>
                    <option>Chinook</option>
                    <option>Collie</option>
                    <option>Corgi</option>
                    <option>Dalmatian</option>
                    <option>Entlebucher Mountain Dog</option>
                    <option>Finnish Spitz</option>
                    <option>Flat-Coated Retriever</option>
                    <option>German Shepherd</option>
                    <option>Golden Retriever</option>
                    <option>Great Dane</option>
                    <option>Great Pyrenees</option>
                    <option>Greater Swiss Mountain Dog</option>
                    <option>Icelandic Sheepdog</option>
                    <option>Irish Wolfhound</option>
                    <option>Keeshond</option>
                    <option>Labrador Retriever</option>
                    <option>Leonberger</option>
                    <option>Newfoundland</option>
                    <option>Norwegian Buhund</option>
                    <option>Norwegian Elkhound</option>
                    <option>Norwegian Lundehund</option>
                    <option>Old English Sheepdog</option>
                    <option>Rottweiler</option>
                    <option>Saint Bernard</option>
                    <option>Samoyed</option>
                    <option>Scottish Deerhound</option>
                    <option>Shetland Sheepdog</option>
                    <option>Shiba Inu</option>
                    <option>Siberian Husky</option>
                </select>
            </div>
            <div class="form-group w-25">
                <label for="selectColour">Select Colour:</label>
                <select class="form-control custom-select" id="selectColor">
                    <option>--Select--</option>
                    <option>Black</option>
                    <option>Black and Rust</option>
                    <option>Black and Tan</option>
                    <option>Black and White</option>
                    <option>Blue Merle</option>
                    <option>Brown</option>
                    <option>Brown Tabby</option>
                    <option>Cream</option>
                    <option>Deep Brown</option>
                    <option>Fawn</option>
                    <option>Fawn and Black</option>
                    <option>Fawn with Black Mask</option>
                    <option>Flame Point</option>
                    <option>Grey</option>
                    <option>Grey and White</option>
                    <option>Light Brown</option>
                    <option>Light Brown and White</option>
                    <option>Light Gold</option>
                    <option>Light Grey</option>
                    <option>Pale Honey</option>
                    <option>Red</option>
                    <option>Red Tabby</option>
                    <option>Reddish Brown</option>
                    <option>Sable</option>
                    <option>Sable and White</option>
                    <option>Solid Black</option>
                    <option>Tawny</option>
                    <option>Tricolour</option>
                    <option>Wheaten</option>
                    <option>White</option>
                    <option>White and Black</option>
                    <option>White with Black Spots</option>
                </select>
            </div>
            <div class = "form-group w-25">
                <label for="selectCoat">Select Coat:</label>
                <select class="form-control custom-select" id="selectCoat">
                    <option>--Select--</option>
                    <option>Double</option>
                    <option>Long</option>
                    <option>Medium</option>
                    <option>Semi-Long</option>
                    <option>Short</option>
                </select>
            </div>
            <div class="form-group w-25">
                <label for="selectSize">Select Size:</label>
                <select class="form-control custom-select" id="selectSize">
                    <option>--Select--</option>
                    <option>Giant</option>
                    <option>Large</option>
                    <option>Medium</option>
                    <option>Small</option>
                </select>
            </div>
            <div class="form-group w-25">
                <label for="selectSex">Select Sex:</label>
                <select class="form-control custom-select" id="select Sex">
                    <option>--Select--</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="form-group w-25">
                <label for="selectAge">Select Age:</label>
                <select class="form-control custom-select" id="selectAge">
                    <option>--Select--</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
            <div class="form-group w-25">
                <label for="selectCatFriendly">Cat Friendly?</label>
                <select class="form-control custom-select" id="selectCatFriendly">
                    <option>--Select--</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="form-group w-25">
                <label for="selectDogFriendly">Dog Friendly?</label>
                <select class="form-control custom-select" id="selectDogFriendly">
                    <option>--Select--</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="form-group w-25">
                <label for="selectChildFriendly">Child Friendly?</label>
                <select class="form-control custom-select" id="selectChildFriendly">
                    <option>--Select--</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="form-group w-25">
                <label for="selectAdoptable">Adoptable?</label>
                <select class="form-control custom-select" id="selectAdoptable">
                    <option>--Select--</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <button type="submit" class="btn mb-2" id="btnSubmit" (click)="getPetByCategory(pet.category)">Let's Go!{{ pet.category }}</button>
        </form>
        <br>
        <h3>Pets:</h3>
        <div *ngFor="let category of pet.category">
            <li>{{ category }}</li>
        </div>
    </div>
</body>

</html>